{% load static %}
{% block extra_style%}

<link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

    body {
        font-family: 'Kanit', sans-serif !important;
    }
    .msgapi .gn-menu.gn-primary {
        background-color: #fff;
        font-family: 'Kanit', sans-serif !important;
    }

    .msgapi .btn-primary {
        background-color: #26A737;
        border-color: #1f4b16;
        border-radius: 5px;
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.2s;
        margin-right: inherit;

    }
    .msgapi .btn-primary:hover {
        background-color: #2dbf50; /* Um tom mais claro de verde */
        border-color: #26a737;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .msgapi .btn-primary:focus {
        box-shadow: 0 0 0 2px rgba(38, 167, 55, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona um glow externo */
        outline: none; /* Remove o outline padrão para substituí-lo pelo box-shadow */
    }
    .msgapi .btn-primary:active {
        background-color: #1f4b16; /* Um tom mais escuro para dar sensação de pressionado */
        border-color: #163812;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Ajusta a sombra para ser mais sutil quando pressionado */
        transform: translateY(2px); /* O botão move-se ligeiramente para baixo */
    }
    .msgapi .gn-hero {
        position: relative;
        color: #24A637; /* Cor do texto */
        background: linear-gradient(rgba(255, 250, 205, 0.9), rgba(255, 250, 205, 1)), url('static/img/hero-bg.png') no-repeat left / cover;
        /* Mistura a cor lemonchiffon com a imagem de fundo com uma leve transparência */
        display: flex;
        align-items: center; /* Centraliza o conteúdo na vertical */
        justify-content: flex-start; /* Alinha o conteúdo à esquerda */
        height: 100%; /* Define a altura da hero section */
    }
    .msgapi .gn-hero::before, .msgapi .gn-hero::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-size: 40%;
    }

    .msgapi .gn-hero::before {
        background: url('static/img/icones_geonode_funceme.png') no-repeat left;
        filter: drop-shadow(8px 8px 10px rgba(0,0,0,-1.5));
        background-size: 40%;
    }

    .msgapi .gn-hero::after {
        background: url('static/img/icones_geonode_funceme.png') no-repeat left;
        filter: brightness(0) blur(8px);
        transform: translate(8px, 8px);
        background-size: 40%;
        z-index: 1;
    }
    .msgapi .gn-hero text {
        z-index: 3; /* Garante que o texto fique visível acima de todos os backgrounds e ícones */
        position: relative; /* Necessário para o z-index funcionar */
        font-size: 1.2em; /* Exemplo de tamanho de fonte, ajuste conforme necessário */
    }
    @media (max-width: 768px) {
        .msgapi .gn-hero::before {
            background: url('static/img/icones_geonode_funceme.png') no-repeat;
            background-size: 60%; /* Ajuste o tamanho dos ícones para dispositivos menores */
            background-position: center top; /* Centraliza os ícones para melhor visualização em dispositivos menores */
        }
    }
    nav#gn-topbar {
        margin-top: -2.5rem;
        background-color: transparent;
    }
    .msgapi .gn-footer {
        background-color: #24A637;
    }
    .gn-footer span {
        color: white;
    }
    div#ms-container {
        margin-top: 2.5rem;
    }
    .position-relative {
        position: relative;
    }
    
    .position-absolute {
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px;
        transition: background-color 0.3s; /* Adiciona transição suave ao background do título */

    }
    
    .img-fluid {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .content-below-image {
        text-align: center; /* Alinha o texto e botão abaixo da imagem ao centro */
        margin-top: 10px; /* Espaçamento entre a imagem e o texto */
    }
    
    .text-description {
        margin-bottom: 0.5rem; /* Espaçamento entre o parágrafo e o botão */
    }
    .image-link {
        display: block;
        text-decoration: none; /* Remove o sublinhado do link */
        color: inherit; /* Mantém a cor do texto original */
    }
    
    .image-container:hover {
        transform: scale(1.05); /* Aumenta ligeiramente o tamanho da imagem */
        transition: transform 0.3s ease; /* Suaviza a transição dos efeitos */
    }
    
    .position-absolute:hover {
        background-color: rgba(0, 0, 0, 0.9); /* Escurece o fundo do título no hover */
    }
    .position-relative {
        position: relative;
    }
    
    .img-fluid {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .overlay-button {
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: auto;   /* Ou você pode especificar uma largura fixa, como 150px */
        min-width: 100px;  /* Largura mínima para garantir a legibilidade */
        padding: 5px 10px; /* Preenchimento interno para texto */
        /* Estilos adicionais para o botão, se necessário */
    }
    
    .content-below-image {
        text-align: center; /* Alinha o texto e botão abaixo da imagem ao centro */
        margin-top: 10px; /* Espaçamento entre a imagem e o texto */
    }
    
    .text-description {
        margin-bottom: 0.5rem; /* Espaçamento entre o parágrafo e o botão */
    }
    
    /* CSS para o efeito hover nas imagens */
    .image-container:hover .img-fluid {
        transform: scale(1.05); /* Aumenta ligeiramente o tamanho da imagem */
        transition: transform 0.3s ease; /* Suaviza a transição dos efeitos */
    }
    
    /* CSS para o efeito hover no botão */
    .overlay-button:hover {
        background-color: #2dbf50; /* Um tom mais claro de verde */
        /* Outros estilos para o hover do botão */
    }
    .custom-divider {
        height: 1px;
        width: 40%;
        background-color: #24A637;
        margin: 20px auto;
    }

</style>
<script src="https://kit.fontawesome.com/0d4da7b6b3.js" crossorigin="anonymous"></script>
{% endblock %}